rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user_data/{docId} {
      allow read: if request.auth != null && request.auth.uid == docId;
      allow write: if request.auth != null && request.auth.uid == docId;
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /public_profiles/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /study_rooms/{roomId} {
      allow read, write: if request.auth != null;
    }
  }
}
